<div class="container">
    {{> header}}
        <h1>About Page</h1>
        <div>Organise your teams in a heartbeat with powerful and easy tools to manage your schedules, people and more.</div>
</div>
{{> footer}}